<div class="container">
  <div class="d-flex justify-content-between py-5">
    <div>
      <h2>Data Employee</h2>
    </div>
    <div>
        <a routerLink="/employee/form" class="btn btn-primary my-3">Add Emlpoyee</a>
    </div>
  </div>
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Nomor</th>
        <th>Username</th>
        <th>Email</th>
        <th>Basic Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ employee.username }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.basicSalary | currency: 'IDR'  }}</td>
        <td>
          <a routerLink="/employee/detail/{{ employee.id }}" class="btn btn-success btn-sm">Detail</a>
          |
          <a routerLink="/employee/form" class="btn btn-warning btn-sm">Edit</a>
          |
          <button class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>